*{
    margin: 0;
    padding: 0;
    /* border-box : sets the border to the box, not calculate it from the content*/
    box-sizing: border-box;
}

body{
    font-family: Helvetica Neue, Arial;
    font-size: 15px;
}


h1,h2 {
    color: #6a13cd;
}

h1{
    font-size:40px;
    margin-bottom: 20px;
}

h2{
    font-size:22px;
    margin-bottom: 10px;
}

.author-text {
    font-size: 20px;
    color:#714407;
}

.main-text {
    text-align: justify;
    font-size: 16px;
    color: #25262e;
    margin-bottom: 20px;
}
