*{
    margin: 0;
    padding: 0;
    /* border-box : sets the border to the box, not calculate it from the content*/
    box-sizing: border-box;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Helvetica Neue, Arial;
    font-size: 15px;
}


h1,h2 {
    color: #6a13cd;
}

h1{
    font-size:40px;
    margin-bottom: 20px;
}

h2{
    font-size:22px;
    margin-bottom: 10px;
}

.author-text {
    font-size: 20px;
    color:#714407;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
}

.main-text {
    text-align: justify;
    font-size: 16px;
    color: #25262e;
    margin-bottom: 20px;
    line-height: 150%;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    width: 25%;
    float: left;
    
}

.author-box {
    border-top: 1px solid #555555;
    padding-top: 10px;
}

.other {
    margin-bottom: 30px;
    
}

.author-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img{
    height: 150px;
    width: auto;
    float: left;
}

.date{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 30px;
}
